@* good *@

@{
    ViewBag.Title = "Test4";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<link rel="stylesheet" href="../assets/ol3/css/ol.css" type="text/css" />
    <link rel="stylesheet" href="../assets/css/samples.css" type="text/css" />*@
<link rel="stylesheet" href="http://openlayers.org/en/v3.16.0/css/ol.css" type="text/css">

@*<script src="../assets/ol3/js/ol.js"></script>*@
<script src="http://openlayers.org/en/v3.16.0/build/ol.js" type="text/javascript"></script>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>

<h2>Test4</h2>

<div id="map" class="map" style="height: 600px;"></div>

<input type="button" value="Change" name="Action" onclick="Change();" class="btn btn-default" />

<input type="text" id="bufer" />

<script>
    var vectorSource = new ol.source.Vector({
        format: new ol.format.GeoJSON(),
        url: function (extent) {
            var u = 'http://demo.boundlessgeo.com/geoserver/wfs?service=WFS&' +
                'version=1.1.0&request=GetFeature&typename=osm:water_areas&' +
                'outputFormat=application/json&srsname=EPSG:3857&' +
                'bbox=' + extent.join(',') + ',EPSG:3857';
            //var u = 'http://geoserver.info.tm:8080/geoserver/wfs?service=WFS&' +
            //    'version=1.1.0&request=GetFeature&typename=localhost:admpol2&' +
            //    'outputFormat=application/json&srsname=EPSG:3857';
            $('#bufer').val(u);
            return u
        },
        strategy: ol.loadingstrategy.bbox
    });


    var vector = new ol.layer.Vector({
        source: vectorSource,
        style: new ol.style.Style({
            stroke: new ol.style.Stroke({
                color: 'rgba(0, 0, 255, 1.0)',
                width: 2
            })
        })
    });


    // a tiled raster layer as the backdrop
    var tiledRaster = new ol.layer.Tile({
        source: new ol.source.OSM()
    });

    var map = new ol.Map({
        layers: [tiledRaster, vector],
        target: document.getElementById('map'),
        view: new ol.View({
            center: [-8908887.277395891, 5381918.072437216],
            maxZoom: 19,
            zoom: 12
        })
    });

    function Change() {
        alert(vectorSource.getFeatures().length);
    };
</script>
