@{
    ViewBag.Title = GeoServer.Resources.HomeTexts.Contact;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Text 1
    <br />
    Text 2
    <br />
    <abbr title="Phone">
        Tel:
    </abbr>
    111-222-333
</address>

<address>
    <strong>Admin:</strong> <a href="mailto:admin@mail.com">admin@mail.com</a>
</address>