@model GeoServer.Models.admpol1

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>admpol1</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.code_obl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.code_obl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.gid }) |
    @Html.ActionLink("Back to List", "Index")
</p>
