
@{
    ViewBag.Title = GeoServer.Resources.LanguageTexts.Language;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@GeoServer.Resources.LanguageTexts.Language</h2>

<ul>
    <li>
        @Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" }, null)
    </li>
    <li>
        @Html.ActionLink("Қазақ", "Change", "Language", new { LanguageAbbrevation = "kk" }, null)
    </li>
    <li>
        @Html.ActionLink("Русский", "Change", "Language", new { LanguageAbbrevation = "ru" }, null)
    </li>
</ul>